@tailwind base;
@tailwind components;
@tailwind utilities;

/*
primary: #0A2463
secondary: #3E92CC
tertiary: #D8315B
fourth: #FFFAFF
fifth: #1E1B18
*/

@layer base {
	body {
		background-color: #fffaff;
		color: #1e1b18;
	}
}

@layer components {
	.btn-blue {
		@apply font-bold px-4 py-2 rounded hover:bg-blue-500;
		background-color: #3e92cc;
		color: #1e1b18;
	}
}

.secondary-item {
	background-color: #3e92cc;
	border-radius: 0.5rem;
	box-shadow: inset;
}
